:root {
  --very-dark: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish: hsl(303, 10%, 53%);
  --light-grayish: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
}

ul {
  list-style: none;
}

main {
  height: 100%;
  width: 100%;
  background: url("../images/bg-pattern-top-mobile.svg") top center no-repeat,
    url("../images/bg-pattern-bottom-mobile.svg") bottom center no-repeat;
}

.product {
  display: block;
  margin: 20px auto;
  width: 95%;
}

.product__info {
  text-align: center;
  width: 90%;
  margin: 0 auto 20px;
}

.product__title {
  font-size: 2.6rem;
  width: 70%;
  margin: 20px auto;
  color: var(--very-dark);
  font-weight: 600;
}

.product__description {
  font-size: 1.4rem;
  color: var(--dark-grayish);
  font-weight: 400;
}

.product__rewards {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.rewards__item {
  background-color: var(--light-grayish);
  width: 90%;
  padding: 20px;
  text-align: center;
  margin: 10px 0;
  border-radius: 10px;
}

.rewards__item p {
  margin: 10px 0 0 0;
  font-weight: 600;
  color: var(--very-dark);
  font-size: 1.4rem;
}

.rewards__item svg {
  margin: 0 2px;
}

.product__reviews {
  width: 90%;
  margin: 0 auto;
}

.product__review {
  color: var(--white);
  font-size: 1.4rem;
  background-color: var(--very-dark);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.review__body {
  font-size: 1.4rem;
  font-weight: 400;
}

.review__body p {
  line-height: 22px;
  width: 90%;
}

.product__review img {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  margin-right: 25px;
}

.name {
  font-weight: 600;
}

.verified {
  color: var(--soft-pink);
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url("../images/bg-pattern-top-desktop.svg") top left no-repeat,
      url("../images//bg-pattern-bottom-desktop.svg") bottom right no-repeat;
  }

  .product {
    max-width: 1240px;
    margin: 0 auto;
  }
  .product__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .product__info {
    width: 70%;
    text-align: left;
  }

  .product__title {
    margin-left: 0;
    font-size: 4rem;
  }

  .product__description {
    font-size: 1.6rem;
    line-height: 22px;
  }

  .rewards__item p {
    margin: 0;
    width: 220px;
    text-align: center;
  }

  .rewards__stars {
    margin-right: 25px;
  }

  .rewards__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .rewards__item.second {
    margin-left: 80px;
  }
  .rewards__item.third {
    margin-left: 160px;
  }

  .product__reviews {
    display: flex;
    width: 100%;
    margin-top: 40px;
  }

  .product__review {
    margin: 0 10px;
    height: 210px;
    width: 385px;
  }

  .product__review.second {
    margin-top: 20px;
  }
  .product__review.third {
    margin-top: 40px;
  }
}
